@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/sepet.css">
    <title>Shopping Cart</title>
</head>
<body>
    <!-- Kart Detayları Bölümü -->
    <div class="card-details">
        <h2>Card Details</h2>
        <label>
            <span>Name on Card</span>
            <input type="text" placeholder="Full Name">
        </label>
        <label>
            <span>Card Number</span>
            <input type="text" placeholder="0000 0000 0000 0000">
        </label>
        <div class="split-input">
            <label>
                <span>Expiry Date</span>
                <input type="text" placeholder="MM/YY">
            </label>
            <label>
                <span>CVV</span>
                <input type="text" placeholder="123">
            </label>
        </div>
        <a href="/account/yeni"><button class="checkout-btn">Checkout</button></a>
    </div>
    </div>

</body>
</html>